.content {
  display: flex;
  width: 90%;
  max-width: 70rem;
  margin: 2rem auto;
  padding: 2rem;
  color: #000;
  z-index: 100;
}

.content > div {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  width: 100%;
  border-right: 1px solid #000;
  font-weight: 500;
  text-align: left;
}

.content > div:last-of-type {
  border: none;
}

.content > div > h2 {
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  color: var(--dark-grey);
}

.content > div > h2,
.content > div > p {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
  }
  .content > div {
    padding: 1rem 0;
    margin: 0rem;
    border: none;
  }
}
