.control {
  display: flex;
  justify-content: center;
  padding-right: 2rem;
  border-right: 1px solid #000;
}

@media screen and (max-width: 768px) {
  .control {
    flex-direction: column;
  }
  .control label {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 1200px) {
  .control {
    padding: 0;
    border: none;
  }
}

.control label {
  align-self: center;
  margin-right: 1rem;
}

.actions {
  display: flex;
}

input {
  width: 100%;
  padding: 0.75rem 2rem;
  border: 1px solid lightgray;
  border-right: none;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

input::placeholder {
  font-family: "Bebas Neue";
}

input::after {
  content: "";
  width: 2rem;
  background-color: #000;
}

input:focus {
  outline: none;
  background-color: #fff;
}

button {
  background-color: #000;
  padding: 1rem;
  border: none;
  outline: none;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  line-height: 1.1;
}

button:hover {
  background-color: var(--very-dark-grey);
}
