.header {
  position: absolute;
  padding: 2rem;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .content {
    flex-direction: column;
  }
}
