.content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  color: #000;
}

.content > div {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  font-weight: 500;
  border-right: 1px solid #000;
}

@media screen and (max-width: 768px) {
  .content {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .content > div {
    width: 40%;
    padding: 0;
    text-align: center;
    border: none;
  }
}

.content > div:last-of-type {
  border: none;
}

.content > div > h2 {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: var(--dark-grey);
}
