@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Font */
  --font-primary: "Bebas Neue", sans-serif;
  font-family: var(--font-primary);
  /* Colors */
  --very-dark-grey: hsl(0, 0%, 17%);
  --dark-grey: hsl(0, 0%, 59%);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a,
a:visited {
  text-decoration: none;
}

/* Utility Classes */
.container {
  margin: auto;
  padding: 1rem 3rem;
}
